@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.otf') format('opentype');
}

.seccsion-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.seccsion-1-1 {
    grid-row-start: 1;
    grid-row-end: 5;
    background: #f00;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    background: url("../images/post5.png");
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    border-right: 9px solid #12b2cf;
}

.seccsion-1-1-text {
    /* background: #f00; */
    width: 90%;
    margin-top: -87px;
}

.seccsion-1-1 p {

    font-family: Inter;

    font-weight: 700;

    font-size: 62px;

    line-height: 100%;

    color: #fff;

    margin-bottom: 30px;
}

.seccsion-1-1 p.text1 {

    /* margin-bottom: 35px; */
}

.seccsion-1-1 p.text2 {

    /* background: linear-gradient(red, blue); */

    background: linear-gradient(to bottom, #f7f7f7, #ffe800), linear-gradient(to bottom, #ff000000, #ffffff00);

    -webkit-background-clip: text, border-box;

    color: transparent;
}

.seccsion-1-1 button {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    background-color: #ffe800; /* For browsers that do not support gradients */
    background-image: linear-gradient(#ffc000, #ff4f00);
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 30px;
}

.seccsion-1-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    background: #00b6ff;
    grid-column-start: 5;
    grid-column-end: 8;
    background: url(../images/post1.png) #e4e3d1;
    position: relative;
    background-size: contain;
    background-position: center;
    border-bottom: 9px solid #12b2cf;
    background-repeat: no-repeat;
}

.seccsion-1-2 h2 {

    text-align: center;

    margin-top: 20px;

    font-size: 50px;

    font-family: 'Pretendard';

    color: #c50c0c;

    font-weight: bold;
}

.seccsion-1-2 .content-bottom {

    position: absolute;

    bottom: 14px;

    height: 128px;

    width: 100%;

    text-align: center;

    /* font-family: 'Pretendard'; */

    font-family: 'Pretendard';

    font-weight: 500;
}

.seccsion-1-2 p {

    font-family: 'Inter';

    font-size: 19px;

    color: #000;

    font-weight: 700;

    font-family: 'Pretendard';
}

.seccsion-1-2 a {

    /* position: absolute; */

    background: #000;

    color: #fff;

    font-size: 28px;

    border: none;

    padding: 6px 38px;

    text-decoration: none;
}

.seccsion-1-3 {
    grid-row-start: 3;
    grid-row-end: 5;
    /* background: #9bff00; */
    grid-column-start: 5;
    grid-column-end: 8;
    background: url("../images/post2.png");
    position: relative;
}

.seccsion-1-3 p {

}

.seccsion-1-3 p.text1 {
    position: absolute;
    text-align: right;
    margin-top: 45px;
    width: auto;
    right: 16px;
    font-size: 38px;
    font-weight: 900;
    /* transform: skew(357deg, 0deg); */
    transform: rotate(353deg);
    -webkit-text-stroke: 1px #fff;
    font-family: 'Pretendard';
    /* border-bottom: 9px solid #000; */
}

.seccsion-1-3 p.text2 {
    position: absolute;
    right: 50px;
    top: 77px;
    font-size: 100px;
    font-weight: bold;
    transform: rotate(353deg);
    -webkit-text-stroke: 2px #fff;
    font-family: Pretendard;
}

.seccsion-2 {
    height: 72dvh;
    border-top: 9px solid #12b2cf;
    border-bottom: 9px solid #12b2cf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seccsion-2-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background: url('../images/post4.png') center no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-left: 43px;
}

.seccsion-2-2 {
    grid-column-start: 4;
    grid-column-end: 8;
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    background: url(../images/post3.png) center no-repeat;
    background-size: cover;
    border-left: 9px solid #12b2cf;
    position: relative;
}

.seccsion-2-1 h2 {
    font-family: 'Pretendard';
    font-size: 45px;
    font-family: 'Pretendard';
    font-weight: 900;
}

.seccsion-2-1 h3 {
    font-family: 'Pretendard';
    font-size: 1.75rem;
    /* font-family: 'Pretendard'; */
    font-weight: 700;
    color: #fff;
}

.seccsion-2-2 {
}

.seccsion-2-2 .text1 {
    position: absolute;
    top: 90px;
    padding-left: 40px;
    color: #fff;
    font-size: 40px;
    /* font-family: ''; */
    font-family: 'Pretendard';
    font-weight: 700;
}

.seccsion-2-2 .text2 {
    position: absolute;
    top: 201px;
    padding-left: 40px;
    color: #021431;
    font-size: 70px;
    /* font-family: ''; */
    font-family: 'Pretendard';
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
}

.seccsion-2-2 .text3 {
    position: absolute;
    top: 47%;
    padding-left: 40px;
    color: #021431;
    font-size: 130px;
    /* font-family: ''; */
    font-family: 'Pretendard';
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    background: linear-gradient(to right, #ffe800, #d76009, yellow), linear-gradient(to bottom, #ffffff00, #ffffff00);
    -webkit-background-clip: text, border-box;
}

.seccsion-2-2 .text4 {
    position: absolute;
    bottom: 30px;
    padding-left: 40px;
    color: #fff;
    font-size: 29px;
    /* font-family: ''; */
    font-family: 'Pretendard';
    font-weight: 900;
    -webkit-text-stroke: 1px #021431;
}

.seccsion-3 {
    padding: 30px;
}

.seccsion-3 h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 37px;
    line-height: 100%;
    color: #6F6F6F;
    margin-bottom: 30px;
}

.seccsion-3 p {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #A3A3A3;
}

@media (max-width: 1024px) {
    .seccsion-1-1 p {

        font-size: 35px;
    }

    .seccsion-1-2 h2 {
        font-size: 38px;
    }

    .seccsion-1-3 p.text1 {
        transform: rotate(0deg);
        /* position: unset; */
    }

    .seccsion-1-3 p.text2 {
        transform: rotate(0deg);
        font-size: 80px;
        right: 100px;
        top: 101px;
    }

    .seccsion-2-1 h2 {
        -webkit-text-stroke: 1px #021431;
    }

    .seccsion-2-1 h3 {
        -webkit-text-stroke: 1px #021431;
    }

    .seccsion-2-2 .text1 {
        width: 100%;
        /* background: #f00; */
        text-align: center;
        top: 11px;
        -webkit-text-stroke: 1px #021431;
        font-size: 45px;
        padding-left: 0;
    }

    .seccsion-2-2 .text2 {
        width: 100%;
        top: 128px;
        text-align: center;
        font-size: 53px;
        padding-left: 0;
    }

    .seccsion-2-2 .text3 {
        top: 43%;
        font-size: 90px;
        text-align: center;
        width: 100%;
        padding-left: 0;
    }

    .seccsion-2-2 .text4 {
        font-size: 25px;
        text-align: center;
        padding-left: 0;
        bottom: 20px;
    }

    .seccsion-2-2 .text5 {
    }

    .seccsion-3 p {

        text-align: center;

        line-height: 35px;
    }

    .seccsion-3 h3 {

        text-align: center;
    }
}

@media (max-width: 480px) {
    .seccsion-1 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .seccsion-1 .seccsion-1-1 {
        height: 50dvh;
        border: none;
    }

    .seccsion-1 .seccsion-1-1-text {
        text-align: center;
    }

    .seccsion-1-1 p.text1 {
        font-size: 29px;
    }

    .seccsion-1-1 p.text2 {
        font-size: 26px;
    }

    .seccsion-1-2 {
        height: 50dvh;
        border: none;
        background-position: center;
        background-size: cover;
    }

    .seccsion-1-2 h2 {
    }

    .seccsion-1-2 .content-bottom {
    }

    .seccsion-1-3 {
        height: 50dvh;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .seccsion-1-3 p {
        position: unset !important;
    }

    .seccsion-2 {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .seccsion-2 .seccsion-2-1 {
        height: 50dvh;
        padding: 10px;
        text-align: center;
    }

    .seccsion-2 .seccsion-2-1 h2 {
    }

    .seccsion-2 .seccsion-2-1 h3 {
        font-size: 27px;
    }

    .seccsion-2 .seccsion-2-2 {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccsion-2 .seccsion-2-2 .text1 {
        position: unset;
    }

    .seccsion-2 .seccsion-2-2 .text2 {
        position: unset;
    }

    .seccsion-2 .seccsion-2-2 .text3 {
        position: unset;
        height: 159px;
        font-size: 67px;
    }

    .seccsion-2 .seccsion-2-2 .text4 {
        position: unset;
    }

    .seccsion-2 .seccsion-2-2 .text5 {
    }

}
